{% load static %} {% load bootstrap3 %} {% load i18n %}
<hr />
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav navbar-nav navbar-right">
        <li >
            <a href="{% url 'index' %}">{% trans 'Home' %}</a>
        </li>
        <li>
          <a href="{% url 'articles' %}">{% trans 'Last Articles' %}</a>
        </li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'favourite' %}">{% trans 'Favourite' %}</a></li>
        <li><a href="{% url 'publications' %}">{% trans 'Publications' %}</a></li>
        {% else %}
        <li><a href="{% url 'register' %}">{% trans 'Register' %}</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li >
          <a href="#">{% trans 'Logged as' %} {{request.user.username}}<span class="sr-only"></span></a>
        </li>
        <li >
          <a href="{% url 'logout' %}">{% trans 'Logout' %}<span class="sr-only"></span></a>
        </li>
        {% else %}
        <li>
          <form id="login_form" action="{% url 'login' %}" class="navbar-form navbar-left" method="POST">
            {% csrf_token %}
            {% bootstrap_form login_form %}
            {% buttons %}
            <button type="submit" class="btn btn-default">{% trans 'Login' %}</button>
            {% endbuttons %}
          </form>
        </li>
        {% endif %}

<li>{% load i18n %}
<br>
<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go">
</form>
</li>

      </ul>
    </div>
  </div>
</nav>
