<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Display</title>
</head>
<body>
  <table  >
    <tbody>
      <tr>
        <th>Film title</th>
        <th>Character's name</th>
        <th>Gender</th>
        <th>Homeworld</th>
        <th>Diameter</th>
      </tr>
      {% for people in peoples %}
      <tr>
        <td>{{ people.movies__title }}</td>
        <td>{{ people.name }}</td>
        <td>{{ people.gender }}</td>
        <td>{{ people.homeworld__name }}</td>
        <td>{{ people.homeworld__diameter }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</html>